<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body class="d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
<div class="text-center">
    <h1 class="mb-4">Menu</h1>
    <a th:href="@{/buyer}" class="btn btn-primary btn-lg m-2">Buyers</a>
    <a th:href="@{/orders}" class="btn btn-secondary btn-lg m-2">Orders</a>
</div>
</body>
</html>
